<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid d-flex justify-content-center">
        <div class="row text-light p-2 text-center">
            <div class="col col-12 col-md-4">
            </div>
            <div class="col col-12 col-md-4 p-2 text-center d-flex justify-content-evenly">
                <a href="#"><i class="ico fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/SoyRodri"><i class="ico fa-brands fa-github"></i></a>
                <a href="#"><i class="ico fa-brands fa-discord"></i></a>
            </div>
            <div class="col col-12 col-md-4 p-2 text-center">
                <button class="btn btn-danger col-12">Obtener cotizacion</button>
            </div>
            <div class="col col-12 text-center p-2">© Copyright 2023. Made by Rodrigo Guzman</div>
        </div>
    </div>
</nav>
